#About {
  margin-top: 1rem;

}

.img1 {
  height: auto;
  padding: 5px;
  margin: 0;

}

.MainText {
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-size: x-large;
  color: #ad4956;
}

.card-header {
  text-align: center;
  font-weight: bolder;
  /* background-color: #ad4949; */
  background-color: #ad4956;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* icons */
.social_container {
  max-width: 18.5rem;
  margin-top: 1rem;
  padding: 0;
}

.social_container_head {
  background-color: #ad4956;
  height: 3.5rem;
  max-width: 18.5rem;
  margin-top: -15.45px;
  padding-top: 2px;
  font-size: 1.5rem;
  font-family: intern;
  color: aliceblue;
  text-decoration: underline;
}

.icon {
  margin: 0px;
  padding: 0px;
  text-align: center;
  max-width: 18.5rem;
}

a.social {
  margin: .5rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: maroon;
}

a.whatsapp {
  color: darkgreen;
}

a.email {
  color: brown;
}

.text {
  text-align: justify;
  padding: 5px;
}


/* card-tyming */
.tyming {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/* readmore-text */
.readMoreText {
  color: darkgray;
}
.arti_btn {
  margin-top: -15px;
  background-color: #ad4956;
  color: white;
  width: auto;
  outline: brown;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Daily Page  */
.Daily {
  margin-top: 100px;
  text-align: center;

}

.daily_img {
  width: 90%;
}

.daily_caption {
  width: 100%;
  width: 105ch;
  margin: auto;
  font-size: 1rem;
  font-family: intern;
  color: #000;
}

.fa-solid {
  float: left;
  margin-top: .5rem;
  margin-left: 5.5rem;
  color: floralwhite;
}

.daily_artibtn {
  background-color: #ad4956;
  color: white;
  width: 90%;
  outline: brown;
  font-size: large;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.daily_artibtn:hover {
  background-color: #ad4956;
}