#Donate {
  margin-top: 4rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#containerr {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  padding-bottom: 15.5rem;
  margin-top: -32px;
  background: #ad4956;
  color: #fff;
  height: auto;
  min-width: 200px;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 0px 0px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: rgba(165, 42, 42, 0.523);
  color: white;
  transition: all 0.5s;
}

.activee {
  background: #ad4956;
  color: white;
}

.iconn,
.link_textt {
  font-size: 17px;
}

/* Donate-page-top-header-css */
.top_header {
  width: auto;
  height: 6rem;
  background-color: #ad4956;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_main_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top_header_heading {
  color: aliceblue;
  font-family: intern;
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.314); */
}

.arrow_icon {
  font-size: 1.5rem;
  color: aliceblue;
}

.top_header_subHeading {
  text-align: center;
  color: aliceblue;
  font-size: 1.3rem;
  margin-top: 5px;
  font-family: intern;
  font-weight: bold;
}

.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 3.5rem;
  color: rgba(240, 248, 255, 0.61)
}

.cart_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: intern;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.3rem;

}

#crousel_img {
  width: 95%;
}

.donate_crousel {
  height: 95%;
  width: 100%;
  margin-top: -15px;
}

.donate_card_div {
  display: flex;
  justify-content: space-around;
}

.donate_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ad4956;
  color: #fff;
  width: 230px;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card_txt {
  font-size: 1rem;
  font-family: intern;
  font-weight: bold;
}

.card_img {
  height: 80%;
  width: 35%;
}

.donate_text {
  font-size: 1.2rem;
  font-family: intern;
  margin: auto;
  margin-top: 15px;
  max-width: 120ch;
}

.card-1 {
  margin-left: 2.1rem;
}
/* patron general etc  */
.main_container{
  margin-bottom: 2rem;
}

/* mobile-css */
@media screen and (max-width: 480px) {
  .top_header_heading {
    font-size: 18px;
  }

  .top_header_subHeading {
    display: none;
  }

  .arrow_icon {
    font-size: 18px;
    color: aliceblue;
  }

  .card_txt {
    font-size: 18px;
  }

  .sidebar {
    display: none;
  }

  .crousel_col {}

  .cartIcon {
    margin-top: 0px;
    height: 30px;
    width: 30px;
  }

  .donate_card_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

/* tablet-css */
@media screen and (max-width: 760px) {}