*{
    margin: 0;
    padding: 0;
}


.patron-SubHeader_div {
background-color: #ad4956;
  height: 3.5rem;
  width: 95%;
text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2rem;

}
.bck_icon{
  float: left;
  margin-left: 20px;
}
.donate_subpage_cols{
  display: grid;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .patron_card1_img{
    margin-bottom: 15px;
  }
}

/*
.container {
  max-width: 500px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
}

.balance {
  text-align: center;
  margin-top: 20px;
}

.income-expense {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.income,
.expense {
  flex-basis: 45%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.income {
  background-color: #2ecc71;
  color: #fff;
}

.expense {
  background-color: #c0392b;
  color: #fff;
}

.history {
  margin-top: 20px;
}

.transaction-list {
  list-style-type: none;
  padding: 0;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.transaction-text {
  flex-basis: 60%;
}

.transaction-amount {
  flex-basis: 30%;
  text-align: right;
}

.minus {
  background-color: #c0392b;
  color: #fff;
}

.plus {
  background-color: #2ecc71;
  color: #fff;
}

.delete-btn {
  flex-basis: 10%;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  border-radius: 3px;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.add-transaction {
  margin-top: 20px;
}

.transaction-form .form-control {
  margin-bottom: 10px;
}

.transaction-form .form-control label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.transaction-form .form-control input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
 */

